@using C4PHub.Core.Entities
@model C4PHub.Web.Models.Home.ActiveC4PModel
@addTagHelper *, C4PHub.Web

@{
    ViewBag.Title = "Open C4Ps";
}
<h1>Open C4Ps</h1>
@if (Model.C4PList.Any())
{
    <div>The following C4Ps are still open for submissions:</div>
    <br />
    <div class="table">
        @foreach (var item in Model.C4PList)
        {
            <div class="container">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <img src="~/img/c4p.png" alt="Image of a megaphone" width="30" class="me-3" />&nbsp;<a href="@item.Url" target="_blank"><h5>@item.EventName</h5></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Event date @item.EventDate.ToString("dd/MM/yyyy") &nbsp;
                        <generateCalendar c4pId=@item.Id year=@item.EventDate.ToString("yyyy") type="EventDate" format="Ics">
                            <img src="~/img/calendar.png" height="16" alt="Download ICS for the c4p expiration" />
                        </generateCalendar>
                    </div>
                    <div class="col-8 text-wrap">
                        @item.EventLocation
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        C4P expiration @item.ExpiredDate.ToString("dd/MM/yyyy") &nbsp;
                        @if (item.DayToExpiration == 0)
                        {
                            <span class="badge bg-danger">Last day!</span>
                        }
                        else if (item.DayToExpiration <= 7)
                        {
                            <span class="badge bg-warning">@item.DayToExpiration days left</span>
                        }
                        else
                        {
                            <span class="badge bg-success">@item.DayToExpiration days left</span>
                        }
                        &nbsp;
                        <generateCalendar c4pId=@item.Id year=@item.EventDate.ToString("yyyy") type="C4PExpirationDate" format="Ics">
                            <img src="~/img/calendar.png" height="16" alt="Download ICS for the c4p expiration" />
                        </generateCalendar>
                    </div>
                </div>
            </div>
            <hr />
        }
    </div>
}
else
{
    <div class="alert-warning row">There are no C4Ps open at the moment!</div>
}